In [1]:
#Import all required packages#
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import statsmodels.api as sm
import scipy.stats as stats
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import cross_validate

In [2]:
#Creating the first dataframe#

df1=pd.read_csv('./Data/CASP.csv')
df1.head()

,RMSD,F1,F2,F3,F4,F5,F6,F7,F8,F9
0,17.284,13558.30,4305.35,0.31754,162.1730,1.872791e+06,215.3590,4287.87,102,27.0302
1,6.021,6191.96,1623.16,0.26213,53.3894,8.034467e+05,87.2024,3328.91,39,38.5468
2,9.275,7725.98,1726.28,0.22343,67.2887,1.075648e+06,81.7913,2981.04,29,38.8119
3,15.851,8424.58,2368.25,0.28111,67.8325,1.210472e+06,109.4390,3248.22,70,39.0651
4,7.962,7460.84,1736.94,0.23280,52.4123,1.021020e+06,94.5234,2814.42,41,39.9147

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45730 entries, 0 to 45729
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RMSD    45730 non-null  float64
 1   F1      45730 non-null  float64
 2   F2      45730 non-null  float64
 3   F3      45730 non-null  float64
 4   F4      45730 non-null  float64
 5   F5      45730 non-null  float64
 6   F6      45730 non-null  float64
 7   F7      45730 non-null  float64
 8   F8      45730 non-null  int64
 9   F9      45730 non-null  float64
dtypes: float64(9), int64(1)
memory usage: 3.5 MB

In [4]:
#Checking shape of df1#
display (df1.shape)

#Checking for NaN values in df1#
display(df1.isna().values.any())

#Checking number of unique values for each variable#
count = df1.nunique()
display(count)

(45730, 10)

False

RMSD    15903
F1      39916
F2      39863
F3      20089
F4      40374
F5      41868
F6      39155
F7      39450
F8        341
F9      37299
dtype: int64

In [5]:
#Getting the statistics for df1#
df1.describe()

,RMSD,F1,F2,F3,F4,F5,F6,F7,F8,F9
count,45730.000000,45730.000000,45730.000000,45730.000000,45730.000000,4.573000e+04,45730.000000,45730.000000,45730.000000,45730.000000
mean,7.748528,9871.596995,3017.367175,0.302392,103.492433,1.368299e+06,145.638061,3989.755990,69.975071,34.523664
std,6.118312,4058.138034,1464.324663,0.062886,55.424985,5.640367e+05,69.999230,1993.574575,56.493443,5.979755
min,0.000000,2392.050000,403.500000,0.092500,10.310100,3.194902e+05,31.970400,0.000000,0.000000,15.228000
25%,2.305000,6936.680000,1979.045000,0.258740,63.563900,9.535912e+05,94.757500,3165.322500,31.000000,30.424725
50%,5.030000,8898.805000,2668.155000,0.300150,87.740800,1.237219e+06,126.176000,3840.170000,54.000000,35.299300
75%,13.379000,12126.150000,3786.410000,0.342890,133.646750,1.690920e+06,181.468500,4644.192500,91.000000,38.870800
max,20.999000,40034.900000,15312.000000,0.577690,369.317000,5.472011e+06,598.408000,105948.170000,350.000000,55.300900

#### Removal of outliers

In [6]:
# Removing outliers with IQR and creating new dataframe#
print('DF shape with outliers',  df1.shape)
     
cols = ['F1','F2','F3','F4','F5','F6','F7','F8','F9']

Q1 = df1[cols].quantile(0.25)
Q3 = df1[cols].quantile(0.75)
IQR = Q3 - Q1

df2 = df1[~((df1[cols] < (Q1 - 1.5 * IQR)) |(df1[cols] > (Q3 + 1.5 * IQR))).any(axis=1)]
print('DF shape after removing outliers',  df2.shape)

DF shape with outliers (45730, 10)
DF shape after removing outliers (41459, 10)

In [7]:
df2.describe()

,RMSD,F1,F2,F3,F4,F5,F6,F7,F8,F9
count,41459.000000,41459.000000,41459.000000,41459.000000,41459.000000,4.145900e+04,41459.000000,41459.000000,41459.000000,41459.000000
mean,7.766480,9117.339400,2749.260475,0.299416,93.619470,1.265463e+06,132.387787,3742.477090,58.834294,35.417579
std,6.065987,3168.727533,1151.330998,0.061170,43.725481,4.449418e+05,54.724187,952.455393,39.704148,5.207610
min,0.000000,2392.050000,513.410000,0.133140,10.310100,3.194902e+05,31.970400,1089.190000,0.000000,18.069600
25%,2.283000,6763.835000,1915.690000,0.256170,62.093050,9.290097e+05,92.135450,3109.020000,29.000000,32.164000
50%,5.195000,8559.520000,2537.730000,0.297510,82.777200,1.190385e+06,119.799000,3739.620000,49.000000,35.884600
75%,13.382500,11018.250000,3417.915000,0.340990,115.474500,1.533902e+06,163.541500,4416.135000,79.000000,39.104650
max,20.999000,19760.500000,6496.520000,0.469070,238.735000,2.786190e+06,311.197000,6854.930000,181.000000,48.202800

### Step 2: Baseline model (Iteration 1)
Perform multilinear Ordinary Least Squares (OLS) regression, create a baseline model and test assumptions of regression in that model.

#### Create the Baseline model

In [8]:
#Baseline model#

X1 = df2.drop('RMSD',axis=1)
y1 = df2['RMSD']
X1_int = sm.add_constant(X1)
model1 = sm.OLS(y1,X1_int).fit()
model1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   RMSD   R-squared:                       0.290
Model:                            OLS   Adj. R-squared:                  0.290
Method:                 Least Squares   F-statistic:                     1883.
Date:                Sat, 22 Jul 2023   Prob (F-statistic):               0.00
Time:                        02:15:53   Log-Likelihood:            -1.2646e+05
No. Observations:               41459   AIC:                         2.529e+05
Df Residuals:                   41449   BIC:                         2.530e+05
Df Model:                           9
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          6.9420      0.793      8.759      0.000       5.389       8.495
F1             0.0024      0.000     17.504      0.000       0.002       0.003
F2             0.0028      0.000     19.395      0.000       0.002       0.003
F3             5.3124      1.275      4.165      0.000       2.813       7.812
F4            -0.1294      0.002    -65.650      0.000      -0.133      -0.125
F5         -9.979e-06   8.52e-07    -11.716      0.000   -1.16e-05   -8.31e-06
F6            -0.0279      0.002    -13.764      0.000      -0.032      -0.024
F7            -0.0004   6.47e-05     -5.497      0.000      -0.000      -0.000
F8             0.0261      0.001     33.857      0.000       0.025       0.028
F9            -0.0688      0.013     -5.130      0.000      -0.095      -0.043
==============================================================================
Omnibus:                     1468.590   Durbin-Watson:                   2.002
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1350.073
Skew:                           0.390   Prob(JB):                    6.84e-294
Kurtosis:                       2.583   Cond. No.                     7.22e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.22e+07. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [9]:
#Performing train-test split#

y3=df2[['RMSD']]
X3=df2.drop(['RMSD'],axis=1)
X3_train, X3_test, y3_train, y3_test = train_test_split(X3, y3, test_size=0.2, random_state=42)
print('SIZES OF THE TRAIN-TEST SPLIT')
print()
print('Independent variables:','Training:', len(X3_train)," ",'Test:', len(X3_test))
print('Dependent variable:','Training:', len(y3_train)," ", 'Test:', len(y3_test))
print()

Prot = LinearRegression()
Prot.fit(X3_train,y3_train)
print ('PREDICTED OUTPUT:')
print()
print(Prot.predict(X3_test))
print()
print ('ACCURACY of MODEL:',Prot.score(X3_test,y3_test))

SIZES OF THE TRAIN-TEST SPLIT

Independent variables: Training: 33167   Test: 8292
Dependent variable: Training: 33167   Test: 8292

PREDICTED OUTPUT:

[[ 6.19456579]
 [16.14956125]
 [10.97386711]
 ...
 [20.78165121]
 [ 1.56176226]
 [ 6.64169364]]

ACCURACY of MODEL: 0.27546723825388264

In [10]:
#Getting Mean Squared Errors (MSE) for Train-Test split#

y_hat_train = Prot.predict(X3_train)
y_hat_test = Prot.predict(X3_test)
train_mse = mean_squared_error(y3_train, y_hat_train)
test_mse = mean_squared_error(y3_test, y_hat_test)
print('Train Mean Squared Error:', train_mse)
print()
print('Test Mean Squared Error:', test_mse)

Train Mean Squared Error: 26.03532253580084

Test Mean Squared Error: 26.457969613142502

In [33]:
TRMSE=np.sqrt(train_mse)
TERMSE=np.sqrt(test_mse)
print (TRMSE)
print (TERMSE)

5.102481997596938
5.143731098448139

In [11]:
#Checking the R-squared values for train-test split#

print('R-SQUARED VALUES FOR TRAIN-TEST SPLIT')
print()
print('Training data:',Prot.score(X3_train, y3_train))
print('Test data:',Prot.score(X3_test, y3_test))

R-SQUARED VALUES FOR TRAIN-TEST SPLIT

Training data: 0.293746567174051
Test data: 0.27546723825388264

In [12]:
#Comparing MSE values for training and test data over 10 splits# 

cvr = cross_validate(Prot, X3, y3,cv=10, scoring="neg_mean_squared_error", return_train_score=True)
train_MSE = -cvr["train_score"]
test_MSE = -cvr["test_score"]

print('MSE VALUES FOR TRAINING AND TEST DATA OVER 10 SPLITS')
print ()
print('Training data:', train_MSE)
print()
print('Test data:',test_MSE)

MSE VALUES FOR TRAINING AND TEST DATA OVER 10 SPLITS

Training data: [26.04511859 26.17376051 26.17622209 26.17447891 26.13009541 26.07394556
 26.03721729 26.11543545 26.12730573 26.12556292]

Test data: [26.79308255 25.64307329 25.60707141 25.62537808 26.02826329 26.52869367
 26.86402297 26.15915975 26.05073163 26.06097087]

In [42]:
kfold=train_MSE.mean()
print (np.sqrt(kfold))

5.110568876934114

In [13]:
#Comparing R-Squared values for training and test data over 10 splits# 

cvr2 = cross_validate(Prot, X3, y3,cv=10, scoring="r2", return_train_score=True)
train1=cvr2["train_score"]
test1=cvr2["test_score"]

print('R-SQUARED VALUES FOR TRAINING AND TEST DATA OVER 10 SPLITS')
print ()
print('Training data:', train1)
print()
print('Test data:',test1)

R-SQUARED VALUES FOR TRAINING AND TEST DATA OVER 10 SPLITS

Training data: [0.29118179 0.28974301 0.28961719 0.29074527 0.29097718 0.29130492
 0.29055789 0.28826069 0.28946956 0.28992374]

Test data: [0.28077568 0.29339067 0.29442891 0.28418663 0.28205272 0.27945101
 0.28426216 0.30611949 0.29564787 0.29219254]

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [43]:
#Getting Random Forest Regressor Model MSE and RMSE#
from sklearn.ensemble import RandomForestRegressor

for_reg = RandomForestRegressor(random_state=42,n_jobs=16)
for_reg.fit(X3_train,y3_train)

forpred = forest_reg.predict(X3_test)
for_mse = mean_squared_error(y3_test, forpred)
Test_RMSE=np.sqrt(for_mse)
print('RANDOM FOREST REGRESSOR MODEL ERROR RESULTS')
print ()
print('Mean Squared Error:',for_mse)
print('Root Mean Squared Error:',Test_RMSE)

C:\Users\ravin\AppData\Local\Temp\ipykernel_6676\277182762.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  for_reg.fit(X3_train,y3_train)

RANDOM FOREST REGRESSOR MODEL ERROR RESULTS

Mean Squared Error: 12.012106346138834
Root Mean Squared Error: 3.4658485751888866

In [44]:
#Checking MSE with Decision Tree Regressor#

Prot1 = LinearRegression()
Prot1.fit(X3_train,y3_train)
Prot1 = DecisionTreeRegressor(random_state=42)
Prot1.fit(X3_train, y3_train)

Prot1_train_mse = mean_squared_error(y3_train, Prot1.predict(X3_train))
Prot1_test_mse = mean_squared_error(y3_test, Prot1.predict(X3_test))
print('Train Mean Squared Error:', Prot1_train_mse)
print('Test Mean Squared Error:', Prot1_test_mse)

Train Mean Squared Error: 0.022718869302821076
Test Mean Squared Error: 24.05974381748807